canvas {
  background-color:darkgrey;
  width: 100%;
  height: 100%;
}
body{
    background-image: url("background.png");
    background-size: cover;
}

.title {
    margin: 30px auto;
    text-align: center;
    text-shadow: #26a6ba 0 0 20px;
}

.button,
.popup {
    list-style: none;
    width: 250px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    position: absolute;
    left: calc(50% - 125px);
    border: 1px solid #26a6ba;
    background-color: #26a6ba;
    font-size: 24px;
    text-shadow: #333 2px 2px 2px;
    cursor: pointer;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 2px solid;
    outline-color: rgba(45, 41, 38, 0.6);
}
.button {
    -webkit-transition: outline 2s, box-shadow 2s, text-shadow 2s cubic-bezier(0.19, 1, 0.22, 1);
    transition: outline 2s, box-shadow 2s, text-shadow 2s cubic-bezier(0.19, 1, 0.22, 1);
}
.button:hover {
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px white;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 25px;
    text-shadow: #427388 1px 1px 2px;
    -webkit-transition: outline 1s, outline-offset 1s, box-shadow 1s, text-shadow 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: outline 1s, outline-offset 1s, box-shadow 1s, text-shadow 1s 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.button-teal {
    text-shadow: #333 1px 1px 3px;
    border: 1px solid #26a6ba;
    background-color: #cee2e4;
}

.menu .button-start {
    top: 150px;
}
.menu .button-scores {
    top: 250px;
}

.menu .button-about {
    top: 350px;
}

.scores .button-scores {
    height: 370px;
}



#easy {
    top: 150px;
}
#hard {
    top: 250px;
}
.modal-content{
    background-image: url("background.png");
    background-size: cover;
    font-size:20px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: none;
}