body {
    font-size: 24px;
    color: #333333;
    font-family: 'Jura', sans-serif;
    overflow-x: hidden;
}

.logo {
    font-size: 50px;
}

img {
    margin: 0 auto;
}

.navbar-fixed-top {
    padding: 10px 30px 10px 30px;
}

.navbar-default {
    background-color: #f8f8f894;
    border-color: #f8f8f894;
}

/*ABOUT US SECTION*/

.card {
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.8);
    padding: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

#o_nas {
    background: #cdcdcd;
    padding-top: 50px;
    padding-bottom: 50px;
}

#formularz {
    background: #99D3DF;
    padding-top: 50px;
    padding-bottom: 50px;
}

.button:hover {
    background-color: white;
    color: black;
    margin: 20px;
}
#funkcje_aplikacji {
    background: #88BBD6;
    padding-top: 50px;
    padding-bottom: 50px;
}

#funkcje_aplikacji h3 {
    font-weight: bold;
}

#funkcje_aplikacji img {
    max-width: 50px;
}
#funkcje_aplikacji {
    text-align: center;
}
.glyphicon {
    font-size: 35px;
    margin-right: 10px;
}

.function_description {
    margin-bottom: 15px;
}

#functions_info {
    padding-top: 50px;
    padding-bottom: 50px;
}
footer{
    padding:20px;
}