canvas {
  background-color:darkgrey;
  width: 100%;
  height: 100%;
}
body{
    background-image: url("background.png");
    background-size: cover;
}

.title {
    margin: 30px auto;
    text-align: center;
    text-shadow: #26a6ba 0 0 20px;
}

.button,
.popup {
    list-style: none;
    width: 250px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    position: absolute;
    left: calc(50% - 125px);
    border: 1px solid #26a6ba;
    background-color: #26a6ba;
    font-size: 24px;
    text-shadow: #333 2px 2px 2px;
    cursor: pointer;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 2px solid;
    outline-color: rgba(45, 41, 38, 0.6);
}
.button {
    -webkit-transition: outline 2s, box-shadow 2s, text-shadow 2s cubic-bezier(0.19, 1, 0.22, 1);
    transition: outline 2s, box-shadow 2s, text-shadow 2s cubic-bezier(0.19, 1, 0.22, 1);
}
.button:hover {
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px white;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 25px;
    text-shadow: #427388 1px 1px 2px;
    -webkit-transition: outline 1s, outline-offset 1s, box-shadow 1s, text-shadow 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: outline 1s, outline-offset 1s, box-shadow 1s, text-shadow 1s 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.button-teal {
    text-shadow: #333 1px 1px 3px;
    border: 1px solid #26a6ba;
    background-color: #cee2e4;
}

.menu .button-start {
    top: 150px;
}
.menu .button-scores {
    top: 250px;
}
.menu .button-about {
    top: 350px;
}

.scores .button-scores {
    height: 370px;
}

.scores_item {
    text-align: left;
    padding-left: 15px;
}

.about .button-about {
    width: 380px;
    height: 400px;
    left: calc(50% - 190px);
}
.about_text {
    line-height: 28px;
    text-align: justify;
    margin: 0 15px;
}

.visible {
    margin: 0 auto;
    width: 100%;
    opacity: 1;
    visibility: visible;
    -webkit-filter: blur(0);
    filter: blur(0);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: -webkit-filter .5s, opacity .5s linear;
    transition: filter .5s, opacity .5s linear;
    color: #fff;
}

.blur-fadeout {
    -webkit-filter: blur(30px);
    filter: blur(30px);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}

.fadeout {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .33s linear;
    transition: all .33s linear;
}

.hidden{
    visibility: hidden;
}
